html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}

@font-face {
	font-family: 'futura_condensed';
	font-weight: normal;
	src: local('futura_condensed'), url('../fonts/futura_condensed.ttf'), format('opentype');
}

body,html{
	background-color: #111;
	background-image: url('../img/assault.png');
	background-repeat: repeat;
	overflow: hidden;
}

div {
	overflow: hidden;
}

div.hidden {
	height: 0;
	width: 0;
}

p {
	color: white;
}

p.title  {
	border:0px solid red;
	writing-mode:tb-rl;
	-webkit-transform:rotate(-90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
	width:20px;
	height:20px;
	font-family: 'Merriweather Sans Bold', sans-serif;
	font-size:100px;
	font-weight:normal;
	opacity: 0.7;
	margin-top: 650px;
	text-shadow: 2px 2px 10px #000;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}

.preload * {
  -webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

.circle {
	position: absolute;
	width: 200px; 
	height: 200px; 
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	-moz-box-shadow: 3px 3px 10px #000;
	-webkit-box-shadow: 3px 3px 10px #000;
	box-shadow: 3px 3px 10px #000;
}

.large {
	width: 600px;
	height: 600px;
	-webkit-border-radius: 300px;
}

.circle p {
	font-family: "Lucida Sans Unicode";
	text-align: center;
	font-size: 18pt;
}

p.center {
	padding-top: 40%;
}

.blue {
	background-color: #007777;
}
.magenta {
	background-color: #9F005A;
}
.green {
	background-color: #7BB900;
}
.orange {
	background-color: #C65A00;
}

.ul {
	transition:0.25s;
	-webkit-transition:0.25s; /* Safari and Chrome */
  -webkit-animation-timing-function: ease-out;
	-webkit-user-select: none;
}
.ul:hover {
	-webkit-transform:translate(-40px, -40px) scale(1.2, 1.2);
	cursor: pointer;
}

.ur {
	transition:0.25s;
	-webkit-transition: 0.25s; /* Safari and Chrome */
  -webkit-animation-timing-function: ease-out;
	-webkit-user-select: none;
}
.ur:hover {
	-webkit-transform:translate(40px, -40px) scale(1.2, 1.2);
	cursor: pointer;
}

.bl {
	transition:0.25s;
	-webkit-transition:0.25s; /* Safari and Chrome */
  -webkit-animation-timing-function: ease-out;
	-webkit-user-select: none;
}
.bl:hover {
	-webkit-transform:translate(-40px, 40px) scale(1.2, 1.2);
	cursor: pointer;
}

.br {
	transition:0.25s;
	-webkit-transition:0.25s; /* Safari and Chrome */
  -webkit-animation-timing-function: ease-out;
	-webkit-user-select: none;
}
.br:hover {
	-webkit-transform:translate(40px, 40px) scale(1.2, 1.2);
	cursor: pointer;
}
