{%extends "base.html"%}

{%block body%}
<script>
$(document).ready(function() {
	loadCircle = function () {
		$("div.large").animate({
			'height': '600px',
			'width': '600px',
			'margin-left': '-300px',
			'margin-top': '-300px'
		}, 400);
	}
	load1 = function () {
		$("div#1").animate({
			'height': '150px',
			'width': '150px',
			'margin-left': '250px',
			'margin-top': '-320px',
		}, 400);
	}
	load2 = function () {
		$("div#2").animate({
			'height': '150px',
			'width': '150px',
			'margin-left': '320px',
			'margin-top': '-150px',
		}, 400);
	}
	load3 = function () {
		$("div#3").animate({
			'height': '150px',
			'width': '150px',
			'margin-left': '315px',
			'margin-top': '31px',
		}, 400);
	}
	loadCircle();
	setTimeout(load1, 500);
	setTimeout(load2, 600);
    setTimeout(load3, 700);
});
</script>

<div class="circle image hidden" id="1" style="background-image:url('../static/img/richie1.png'); background-size: 100%; top:50%; left:50%"></div>
<div class="circle image hidden" id="2" style="background-image:url('../static/img/richie2.png'); background-size: 100%; top:50%; left:50%"></div>
<div class="circle image hidden" id="3" style="background-image:url('../static/img/richie3.png'); background-size: 100%; top:50%; left:50%"></div>

<div class="circle blue large hidden" style="top:50%; left:50%;">
	<h1>about</h1>
	<p>I'm Richie. I used to be called Fanqi but since nobody </br> could pronounce it I changed my name. I named myself </br> after a character in Pokemon. I'm rather grateful my mom </br> didn't let me name myself Ash or Brock.</p>

	<p>I'm currently a 2nd year Electrical Engineering and Computer </br> Science major at UC Berkeley. I'm an officer of Hackers at Berkeley, </br> the largest engineering organization on campus. We host hackathons and run workshops where we teach practical programming skills.</p>

	<p>In my spare time, I enjoy cooking and photography. </br> To offset my otherwise sedentary lifestyle I go the gym and </br> occasionally play ultimate frisbee.</p>
</div>
{%endblock%}
