
<!DOCTYPE HTML> 
<html lang="en">
<head>
	<title>Richie Zeng</title>
	<meta name="description" content="Official homepage of Richie Zeng"> 
	<meta name="keywords" content="richie fanqi zeng berkeley eecs cs computer science hackathon hacker"> 
	<meta name="author" content="Richie Zeng">
	<meta charset="UTF-8">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
	<script src="/static/js/jquery-1.8.3.js" type="text/javascript"></script>
	<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800,700' rel='stylesheet' type='text/css'>
</head>

<body>
	<a href="/"><p class="title">RICHIE ZENG</p></a>
	{%block body%}{%endblock%}
</body>
