{%extends "base.html"%}

{%block body%}
<script>
function flyAway(target) {
	$(".ul").css('-webkit-transition', '0s');
	$(".ur").css('-webkit-transition', '0s');
	$(".bl").css('-webkit-transition', '0s');
	$(".br").css('-webkit-transition', '0s');
	flyAbout = function () {
		$(".ul").animate({
			'left': '-20%',
			'top': '-20%'
		}, 500);
	};
	flyBlog = function() {
		$(".ur").animate({
			'right': '-20%',
			'top': '-20%'
		}, 500);
	}
	flyProjects = function() {
		$(".bl").animate({
			'left': '-20%',
			'bottom': '-20%'
		}, 500);
	}
	flyContact = function() {
		$(".br").animate({
			'right': '-20%',
			'bottom': '-20%'
		}, 500, function() {
			window.location = '/'+target;
			});
	};

	setTimeout(flyAbout, 200);
	setTimeout(flyBlog, 400);
	setTimeout(flyProjects, 600);
	setTimeout(flyContact, 800);
};
</script>

<div class="circle blue hidden" onclick="flyAway('about')"><p class="center">about</p></div>
<div class="circle orange hidden" onclick="flyAway('home')"><p class="center">blog</p></div>
<div class="circle green hidden" onclick="flyAway('home')"><p class="center">projects</p></div>
<div class="circle magenta hidden" onclick="flyAway('home')"><p class="center">contact</p></div>

<script>
	$(document).ready(function() {
    loadAbout = function () {
			$("div.blue").animate({
				'height': '200px',
				'width': '200px',
				'left': '50%',
				'top': '50%',
				'margin-left': '-210px',
				'margin-top': '-210px'
				}, 400, function() {
					$("div.blue").addClass("ul");
				});
			}
    loadBlog = function () {
			$("div.orange").animate({
				'height': '200px',
				'width': '200px',
				'right': '50%',
				'top': '50%',
				'margin-right': '-210px',
				'margin-top': '-210px'
				}, 400, function() {
					$("div.orange").addClass("ur");
				});
			}
    loadProjects= function () {
			$("div.green").animate({
				'height': '200px',
				'width': '200px',
				'left': '50%',
				'bottom': '50%',
				'margin-left': '-210px',
				'margin-bottom': '-210px'
				}, 400, function() {
					$("div.green").addClass("bl");
				});
			}
    loadContact = function () {
			$("div.magenta").animate({
				'height': '200px',
				'width': '200px',
				'right': '50%',
				'bottom': '50%',
				'margin-right': '-210px',
				'margin-bottom': '-210px'
				}, 400, function() {
					$("div.magenta").addClass("br");
				});
			}
			setTimeout(loadAbout, 200);
			setTimeout(loadBlog, 400);
			setTimeout(loadProjects, 600);
			setTimeout(loadContact, 800);
	});
</script>
{%endblock%}
