{%extends "base.html"%}

{%block body%}
<script>
function polarToXY(rad, deg) {
	var radians = deg/180 * (Math.PI);
	var x = rad * Math.cos(radians);
	var y = rad * Math.sin(radians);
	return [x, y]
}

$(document).ready(function() {
	active_id = 0
    shiftDown(0);
});

$(document).keydown(function(e){
	if (e.keyCode == 38) { 
		shiftUp();
	}
	else if (e.keyCode == 40) {
		shiftDown();
	}
});


function loadSurroundings () {
    var xy = polarToXY(200, 0);
    xy[0] = xy[0] - 50;
    xy[1] = xy[1] - 50;
    $("div#s0").animate({
        'height': '100px',
        'width': '100px',
        'margin-left': xy[0] + 'px',
        'margin-top': xy[1] + 'px'
    }, 400);
}

function removeSurroundings () {
	$("div.surround").animate({
		'height': '0',
		'width': '0',
		'margin-left': '0',
		'margin-top': '0'
	}, 400);
}

function loadCenter(id) {
	$("div#"+id).animate({
		'height': '200px',
		'width': '200px',
		'top': '50%',
		'left': '50%',
		'margin-left': '-100px',
		'margin-top': '-100px'
		}, 400);
}

function shiftUp() {
	if (active_id > 0) {
        removeSurroundings();
        setTimeout(function() {
            $("div#"+active_id).animate({
                'height': '0',
                'width': '0',
                'top': '0%',
                'left': '50%',
                'margin-left': '0',
                'margin-top': '0'
            }, 400);
            active_id -= 1
            loadCenter(active_id);
            loadSurroundings();
        }, 200);
	}
}

function shiftDown() {
	if (active_id < 7) {
        removeSurroundings();
        setTimeout(function() {
            $("div#"+active_id).animate({
                'height': '0',
                'width': '0',
                'top': '100%',
                'left': '50%',
                'margin-left': '0',
                'margin-top': '0'
                }, 400);
            active_id += 1
            loadCenter(active_id);
            loadSurroundings();
        }, 200);
	}
}
</script>

<div class="circle magenta hidden surround" id="s0" style="top:50%; left:50%;"></div>
<div class="circle green hidden surround" id="s1" style="top:50%; left:50%;"></div>
<div class="circle orange hidden surround" id="s2" style="top:50%; left:50%;"></div>
<div class="circle green hidden surround" id="s3" style="top:50%; left:50%;"></div>
<div class="circle magenta hidden surround" id="s4" style="top:50%; left:50%;"></div>
<div class="circle orange hidden surround" id="s5" style="top:50%; left:50%;"></div>
<div class="circle blue hidden" id="0" style="top:0; left:50%;"></div>
<div class="circle blue hidden" id="1" style="top:0; left:50%;"></div>
<div class="circle blue hidden" id="2" style="top:0; left:50%;"></div>
<div class="circle blue hidden" id="3" style="top:0; left:50%;"></div>
<div class="circle blue hidden" id="4" style="top:0; left:50%;"></div>
<div class="circle blue hidden" id="5" style="top:0; left:50%;"></div>
<div class="circle blue hidden" id="6" style="top:0; left:50%;"></div>
<div class="circle blue hidden" id="7" style="top:0; left:50%;"></div>
{%endblock%}
